*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.Hero{
    background-image:url('https://ik.imagekit.io/ixthr16gh/MERN/foodmunch-banner-bg.webp');
    background-size: cover;
    height: 100vh;
 
}

.header{
   margin: auto;
}

svg {
    color: #d0b200;
}
